header{
    min-height: calc(100% - 40px); 
    width: calc(100% - 60px);
    background-image: url('../../assets/img/background_mobile.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    align-content: center;
    padding: 20px 30px;
    position: relative;
    overflow: hidden;
    align-items: center;

    @include bp(tablet){
        background-image: url('../../assets/img/tutto_background_escritorio.jpg');
    }


    .logo{

        width: auto;
        height: rem(70px);
        transform: translateY(0px);
        opacity: 1;

        @include bp(mobileBIG){
            height: rem(90px);
        }

        @include bp(laptop){
            height: rem(120px);
            position: absolute;
            left: 0px;
            width: 100%;
        }

        @include bp(escritorio){
            height: rem(130px);
        }

        @include keyframes(logo_animation){
            0%{
                transform: translateY(50px);
                opacity: 0;
            }

            100%{
                transform: translateY(0px);
                opacity: 1;
            }
        }

        @include animate(logo_animation, 1s, ease, 1);

    }

    .content{

        @include bp(laptop){
            max-width: 1050px;
            margin: auto;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
        }

        @include bp(escritorio){
            max-width: 1550px;
        }

        .box{

            display: flex;
            flex-flow: column;
            align-content: center;
            align-items: center;

            &:first-of-type{

                img{
                    position: absolute;
                    bottom: -15%;
                    width: auto;
                    height: 100%;
                    transform: translateY(0px);
                    opacity: 1;

                    @include keyframes(chocolateImageEscritorio){
        
                        0%{
                            transform: translateY(50px);
                            opacity: 0;
                        }
            
                        25%{
                            transform: translateY(50px);
                            opacity: 0;
                        }
            
                        100%{
                            transform: translateY(0px);
                            opacity: 1;
                        }
                    }
            
                    @include animate(chocolateImageEscritorio, 1.5s, ease, 1);

                }
                
            }

            .placer{

                width: 100%;
                height: auto;
                max-width: 300px;
                margin: 0px auto;
                z-index: 3;
        
                @include bp(tablet){
                    height: rem(250px);
                    width: auto;
                    max-width: 100%;
                }
        
                @include keyframes(placer){
        
                    0%{
                        transform: translateY(50px);
                        opacity: 0;
                    }
        
                    25%{
                        transform: translateY(50px);
                        opacity: 0;
                    }
        
                    100%{
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }
        
                @include animate(placer, 1.5s, ease, 1);
        
            }

            .description{

                position: relative;
                padding: 20px;
                z-index: 1;
                transform: translateY(-20px);
                text-align: center;
                color: $color-cuarto;

                @include keyframes(description){
        
                    0%{
                        transform: translateY(50px);
                        opacity: 0;
                    }
        
                    25%{
                        transform: translateY(50px);
                        opacity: 0;
                    }

                    50%{
                        transform: translateY(50px);
                        opacity: 0;
                    }
        
                    100%{
                        transform: translateY(-20px);
                        text-align: center;
                    }
                }
        
                @include animate(description, 2s, ease, 1);


                h3{
                    margin-bottom: 10px;
                    font-family: Nabila;
                    font-size: rem(23px);

                    @include bp(tablet){
                        font-size: rem(30px);
                    }

                    span{
                        display: inline-block;
                        transform: rotate(173deg) translate(-2px, -3px);

                        @include bp(tablet){
                            transform: rotate(173deg) translate(-3px, -3px);
                        }

                    }

                }

                p{
                    font-size: rem(20px);
                    font-family: $font-two;
                    text-wrap: balance;

                    @include bp(tablet){
                        font-size: rem(25px);
                    }                    
                }

                img{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: auto;
                    width: auto;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    user-select: none;
                    pointer-events: none;
                }

            }

        }

    }

    .chocolate{
        position: absolute;
        bottom: 0px;
        width: auto;
        height: 50%;
        z-index: 3;
        transform: translateY(0px);
        opacity: 1;

        @include keyframes(chocolateImage){
        
            0%{
                transform: translateY(50px);
                opacity: 0;
            }

            25%{
                transform: translateY(50px);
                opacity: 0;
            }

            35%{
                transform: translateY(50px);
                opacity: 0;
            }

            50%{
                transform: translateY(50px);
                opacity: 0;
            }

            100%{
                transform: translateY(0px);
                opacity: 1;
            }
        }

        @include animate(chocolateImage, 2.5s, ease, 1);

        @include bp(tablet){
            height: 40%;
        }

        @include bp(laptop){
            display: none;
        }

    }    

}