header{
    height: calc(100% - 100px); 
    width: calc(100% - 100px);
    background-image: url('../../assets/img/background_mobile.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 50px;

    @include bp(tablet){
        background-image: url('../../assets/img/tutto_background_escritorio.jpg');
    }

}