.content_inscription{

    //background-color: $color-quinto;
    padding-top: 0px;
    padding-bottom: 45px;
    position: relative;

    @include bp(laptop){
        padding-bottom: 80px;
    }

    img {

        width: 70%;
        height: auto;
        margin-bottom: 40px;
        max-width: 300px;

    }

    .content{

        width: calc(100% - 30px);
        margin: auto;
        text-align: center;
        text-wrap: balance;
        font-size: rem(25px);
        color: $color-cuarto;
        font-family: $font-two;

        @include bp(tablet){
            display: grid;
            grid-template-columns: repeat(2, 50%);
            align-items: center;
            margin-top: 30px;
        }

        @include bp(laptop){
            max-width: 1050px;
            grid-template-columns: 40% 60%;
        }

        @include bp(escritorio){
            max-width: 1550px;
        }


        p{
            // margin-bottom: 25px;
            font-size: rem(25px);

            @include bp(tablet){
                font-size: rem(30px);
            }

            @include bp(laptop){
                font-size: rem(35px);
            }

            &:last-of-type{
                margin-bottom: 0px;
            }

            strong {
                font-family: $font-four;
                font-size: rem(20px);

                @include bp(tablet){
                    font-size: rem(25px);
                }

                @include bp(laptop){
                    font-size: rem(30px);
                }

            }

        }

    }

    .premios{

        margin-top: 40px;

        .menu{

            display: grid;
            grid-template-columns: calc(25% - 15px) 50% calc(25% - 15px);
            grid-gap: 15px;
            align-items: center;

            @include bp(tablet){
                grid-template-columns: 60% 40%;
            }

            img {

                margin: 0px;

            }

            div {
    
                display: flex;
                align-items: center;
                
                &:last-of-type{
                    @include bp(tablet){
                        display: none;
                    }
                }
    
                hr{
                    width: 100%;
                    height: 1px;
                    background-color: $color-diez;
                    border: 0px solid transparent;
                }
    
                img{
                    width: 28px;
                    height: auto;
                }
    
            }

            section{
                background-color: $color-doce;
                padding: 15px;
                text-align: center;
                border-radius: 10px;

                @include bp(tablet){
                    max-width: 450px;
                    justify-self: center;
                    border-radius: 30px;
                    padding: 10px 50px;
                }

                h3{
                    color: $color-diez;
                    font-family: $font-two;
                    font-size: rem(20px);

                    @include bp(laptop){
                        font-size: rem(25px);
                    }

                }

            }

        }

    }

}