@import './variables';
@import './home/principal';
@import './home/header';
@import './home/inscription';


*,
html,
body{
    margin: 0px;    
    padding: 0px;
    scroll-behavior: smooth;
}

html, 
body{
    width: 100%;
    height: 100%;
    background-color: $color-one;
}

main{
    width: 100%;
    height: 100%;
    scroll-timeline-name: --squareTimeline;
    position: relative;
}